logs
*.log
*.zip
*.sql
*.rar
*.sql
.htaccess
.lock-wscript
.ftppass
.git/
bin/ 
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/themes/celtics/.sass-cache
wp-content/themes/celtics/.gruntjshintrc
wp-content/themes/celtics/.jshintrc
wp-content/themes/celtics/node_modules