.big-featured{
  height: 100%;
  position: relative;  
  @include shadow('vertical','0 0 20px #333', 98%, 0.8);
  li{
    position: absolute;
    top: 0;
    left: 0;
  }
  a:hover{
    text-decoration: none;
  }
}
.featured-capition{
  background-color: $primary-color;
  width: 100%;
  padding: $featured-capition-padding * (3/5);
  .title{
    font-size: $featured-title-size;
  }
  @media (min-width: $screen-md-min){
    bottom: $featured-position-bottom + $featured-nav-size;
    padding: $featured-capition-padding;
    position: absolute;
    right: $featured-position-right;
    width: $featured-capition-max-width;
  }
}
.featured-nav{
  li{
    display: inline;
    position: relative;
  }
  .next,.prev{
    float: left;
    height: $featured-nav-size;
    line-height: $featured-nav-size;
    text-align: center;
    width: $featured-nav-size;
    i{
      vertical-align: middle;
    }
  }
  .next{    
    background: $primary-color;
  }
  .prev{
    background: $secondary-color;
  }  
  @media (min-width: $screen-md-min){
    bottom: $featured-position-bottom;
    position: absolute;
    right: $featured-position-right;
  }
}
.sprite-feature-capition-shadow{
  position: absolute;
  bottom: 126px;
  right: 39px;
}