.header-bar{
  background: $secondary-color;
  border-bottom: $header-bar-border;
  height: $header-bar-height;
  p, span{
    line-height: $header-bar-height;
  }
  input{
    display: none;
  }
  .icon{
    margin: 0 $header-bar-margin;
  }
}
.header-search-form{
  span{
    text-transform: uppercase;
  }
}
.header-logo{
  text-align: center;
  margin-top: 10px;
  &:before{
    content: '';
    left: -140px;
    pointer-events: none;
    position: absolute;
    @include sprite-sprite(celtics-brasil-logo-shadow);
    top: -15px;
    z-index: -1;
  }
  @media (min-width: $screen-sm-min){
    margin: 0;
    position: absolute;
    top: $header-logo-position-top;
    z-index: 2;
  }
  @media (max-width: $screen-sm-min){
    &:before{
      max-width: 100%;
    }
  }
  @media (min-width: $screen-md-min){
    left: $header-logo-position-left;
  }
}
.advertising{
  width: 100%;
  max-width: 468px;
  height: 60px;
  border: 1px solid #fff;
  background: #BFBFBF;
  margin: 20px auto;
  position: relative;
  z-index: 2;
  @media (min-width: $screen-md-min){    
    float:right;
  }
}
