.home-social{
  font-weight: $font-semi-bold;
  margin-top: 10px;
  position: relative;
  z-index: 100;
  a:hover{
    text-decoration: none;
  }
  .alias{
    color: $primary-color;
    font-size: 11px;
  }
  .number{
    color: $secondary-color;
    font-size: 20px;
  }  
  @media (min-width: $screen-lg-min){
    margin-top: -25px;
  }
}

#home-news{
  margin-bottom: 70px;
}
.news{
  margin-top: 20px;
  ul{
    margin-top: 35px;
  }
  li{
    background: $secondary-color;
    min-height: 155px;
    margin-bottom: 25px;
    position: relative;
  }
  a{
    color: $light-color;
  }
  .text{
    padding: 30px 20px;
  }
  header{
    margin-bottom: 9px;
  }
  .excerpt{
    font-family: $text-font;
    line-height: 1.2em;
  }
  .comments{
    background: $primary-color;
    font: {
      size: 17px;
      weight: $font-semi-bold;
    } 
    text-align: center;
    a{      
      display: block;
      padding: 10px 0;
    }
    a:hover{
      text-decoration: none;
    }
    span{      
      display: block;
    }
  }
  .comments-number{
    font-size: 44px;
    padding: 0 18px;
  }
  li:nth-child(even){
    background: $primary-color;
    .thumb{
      margin: 0;
    }
    .text{
      margin: 0;
    }
    .comments{
      background: $secondary-color;
      left: 0;
      right: inherit;
    }
  }
  @media (max-width: $screen-md-min){
      a{
        line-height: 1;
      }
      .comments{
        span{
          display: inline-block;
          vertical-align: middle;
        }
      }
      .comments-number{
        font-size: 30px;
        padding: 0 5px 0 0;
      }
  }
  @media (min-width: $screen-md-min){
    margin-top: -35px;
    .thumb{
      float: left;
      margin-right: 20px;
      max-width: 361px;
    }
    .text{      
      margin-right: 90px;
    }
    .comments{
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 0;
      a{        
        padding: 38px 0;
      }
    }
    li:nth-child(even){
      .thumb{
        float: right;
        margin-left: 20px;
      }
      .text{
        margin: 0;
        margin-left: 90px;
      }
    }
  }
}
#home-category{
  margin-bottom: 65px;
  .categories{
    margin-top: 20px;
    font: {
      size: 18px;
      weight: $font-semi-bold;
    }
    li{
      background: $primary-color;
      line-height: 1em;
      position: relative;
      &:nth-child(even){
        background: darken($primary-color,6%);
      }
      &:hover{
        background: $secondary-color;
      }
      &.active{
        @extend li:hover;
      }
    }
    a{
      color: $light-color;
      display: block;
      padding: 15px 20px;
      &:hover{        
        color: $light-color;
        text-decoration: none; 
      }
    }
    i{
      position: absolute;
      right: 20px;
    }
  }
  .categories-news{
    margin-top: 20px;
    ul{
      margin-top: -10px;
    }
    li{
      border-bottom: 1px solid $border-default-color;
      clear: both;
      height: 85px;
      &:last-child{
        border: 0;
      }
    }
    .mini-thumb{
      float: left;
      margin: 10px 15px 0 0;
    }
    h4{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0;
      a{
        color: $secondary-color;
        font:{ 
          family: $text-font;
          size: 14px;
        }
      }
    }
  }
}
#home-widget{
  margin-bottom: 65px;
}
.wp-polls{    
    color: $gray;
    .wp-polls-ul{
      margin: 0;
    }
    h4{
      margin-bottom: 15px;    
      font:{ 
        size: 18px;
        weight: $font-semi-bold;
      }
    }
    li{
      border-bottom: 1px solid $border-default-color;
      color: $secondary-color;
      &:last-child{
        border: 0;
      }
    }
    input{
      margin: 0;
      vertical-align: middle;
    }
    label{
      display: inline-block;
      font: {        
        family: $text-font;
        weight: $font-weight-default;
      }
      margin-left: 10px;
    }
    /*
     * Reset plugin wp-poll
     */
    .btn{
      display: inline-block !important;
      margin:10px 10px 0 0;
      padding: 20px 30px !important;
    }
}

.wp-polls-ans li{        
  padding: 15px 0;
}
.wp-polls .pollbar{
  background: $primary-color !important;
  height: 15px !important;
}
