#single-thumbnail {
  margin-top: $home-slide-margin-top;
  position: relative;

  .title {
    line-height: 1.2;
  }
}
.single-title {

  color: $secondary-color;
  border-bottom: 1px solid $border-default-color;
  padding:20px 0;
  margin-top:0;

  font: {
    size: 25px;
    weight: $font-semi-bold;
  }

  span{
    padding: 20px 0;
    position: relative;
    &:before {
      border: 3px solid #0C6637;
      bottom: 3px;
      content: '';
      left: 0;
      position: absolute;
      width: 100px;
    }
  }
}
.block-time-comments {

  position: absolute;
  width:106px;
  height:232px;
  z-index: 2;
  margin-top:-15px;
  margin-left: -35px;
  @include transform (translateX(-80%) translateY(-50%));

  .time-comments {

    width:auto;
    height: 116px;
    background-color: #0D6737;
    padding: 15px;
    text-align:center;

    span, p{
      color: $light-color;
      margin:0;
      padding:0;
      line-height: 1;
    }

    p {
      font-family: $default-font;
    }

    p.number {
      font: {
        size: 55px;
        weight: $font-semi-bold;
      } 
    }

    p.month {
      font-size: $titulo-default-seze;
    }

    span {
      font-size: 14px;
    }    
  }

  .light-green {
    background-color: $primary-color;
  }
}
.single-post {
  background-color: $light-color;
  padding:15px 35px;
  margin: -20px 0 0 100px;
  position: relative;
  z-index: 1;
  min-height: 1060px;
}
.single-post,.sidebar {
  @include box-shadow(#999 0px 0px 10px);
}
.sidebar {
  background-color: #EEEEEE;
  left: -15px;
  padding:25px;
}
.author-thumb {
  float: left;
}
.author-name {
  display: inline-block;
  margin-left: 15px;
}
hr.line {
  border: {
    top: 1px solid #d6d6d6;
    bottom: 1px solid white;
  }
}
.categories-list {
  li{
    border-bottom: 1px solid #999;
    width: auto;
    height: auto;
    padding:10px 0;
    @include box-shadow(rgba(255, 255, 255, 1) 0px 1px 0px 0px);

    a {
      color: #8A8A8A;
      padding-left: 15px;
    }

    i {
      vertical-align: middle;
    }
  }

  li:last-child {
    border: 0;
    @include box-shadow(none);
  }
}