#players{
  @media (min-width: $screen-sm-min){
    margin-top: 30px;
  }
  @media (min-width: $screen-sm-min){
    margin-top: 80px;
  }
  .category{
    position: relative;
    z-index: 2;
    p {
      color: $light-color;
      margin: 0;
    }
    > p {
      margin: 20px 0 10px;
      font-family: $text-font;
    }
    li {
      display: inline-block;
      a {
        background: $primary-color;
        color: #fff;
        display: block;
        line-height: 1;
        padding: 12px 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          background: lighten($primary-color,2%);            
        }
      }
      &:nth-child(odd) a{
        background: darken($primary-color,6%);
        &:hover {
          background: darken($primary-color,8%);            
        }
      }
      &:first-child a{
        background: $secondary-color;
        &:hover {
          background: darken($secondary-color,2%);            
        }
      }
    }
  }
  .player-description{
    background: $primary-color;
    display: inline-block;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2;
    > div {
      color: #fff;
      font-weight: 600;
      margin: 0;
    }
    a{
      color: $light-color;
    }
    .number{
      float: left;
      font-size: 65px;
      line-height: 0.8em;
      margin-right: 20px;
    }
    .info{
      float: left;
      line-height: 2em;
    }
    .name{
      font-size: 25px;
    }
    .position {
      font-size: 18px;
    }
    .see-statistics {
      font-weight: 400;
    }
    .featured-nav{
      //bottom: -60px;
      position: absolute;
      right: 0;
      top: 100%;
    }
    .sprite-feature-capition-shadow{
      bottom: -14px;
      right: 55px;
    }
  }
}

#playersContent{
  display:none;
}
  
.carousel-container {
  margin-top: 50px;
  @media (min-width: $screen-sm-min){
    margin-top: -70px;
  }
  @media (min-width: $screen-md-min){
    margin-top: -150px;
  }
}

#playersCarousel{
  position: relative;
  li {
    bottom: 0 !important;
    cursor: pointer;
    display: none;
    list-style: none;
    position: absolute;
    top: initial !important;
    z-index: 1;
    &.frame3 {
      pointer-events: none;
    }
  }
  span{
    display: none !important;
  }
}

#statistics {
  background: $primary-color;
  position: relative;
  z-index: 3;
  &:before {
    @include box-shadow(0 -10px 20px -10px black);
    content: '';
    height: 30px;
    position: absolute;
    width: 100%;
  }
  .see-statistics {
    border: 0;
    display: inline;
    left: 50%;
    margin: -32px 0 0 -98px;
    position: absolute;
    top: 0;
    &:before, &:after{
      display: block;
      content: '';
      height: 70%;
      position: absolute;
      width: 96%;
      z-index: -1;
      left: 2%;
      top: 19%;
      @include box-shadow (0 0px 20px 0px rgba(0,0,0,0.4));
      @include rotate(-5deg);
    }
    &:after{
      @include rotate(5deg);
    }
    a{
      background-color: $primary-color;
      color: $light-color;
      display: block;
      font : {
        size: 22px;
        weight: $font-bold;
      }
      padding: 20px;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .content {
    display: none;
    padding: 50px 0 25px;
  }
}
